{% extends 'main.html' %}


{% block content %}


<div class="container">

    <div class="form-group">

        <div class="card card-body" style="text-align: center; width:50%; margin:auto;">

            

            <form id="contact" action="" method="post">

                <p>Add Product to <p style="color: blue;">{{order}}</p>  </p>


                {% csrf_token %}

           



                {{form.as_p}}

                <hr>

              


                <button class="btn btn-sm btn-success" name="submit" type="submit" id="contact-submit"
                    data-submit="...Sending">Save & Proceed</button>







            </form>

            <br>

            <a class="btn btn-sm btn-success" href="{% url 'show-order' order.id %}">See This Order</a>
            <br>

            <a class="btn stn-sm btn-info" href="{% url 'show-orders'%}"> Back To Order Page</a>

        </div>

    </div>

</div>


{% endblock %}